<template>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn">Tracker</a></li>
                <li><a class="waves-effect waves-light btn">Information</a></li>
                <li><a class="waves-effect waves-light btn">Recipe Suggestions</a></li>
                <li><a class="waves-effect waves-light btn">Profile <i class="material-icons right">cloud</i></a></li>
                <li><a class="waves-effect waves-light btn-large">Large Button</a></li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "NavBar"
    }
</script>

<style scoped>

</style>