<template>
    <div class="track">
        <span class="pip">1</span>
        <span class="pip">2</span>
        <span class="pip">3</span>
        <span class="pip">4</span>
        <span class="pip">5</span>
    </div>
</template>

<script>
    export default {
        name: "QuestionnaireProgress"
    }
</script>

<style scoped>
    .track {
        width: 100%;
    }

    .pip {
        background-color: lightslategray;
        border-radius: 100%;
        border: solid 4px #3a4b5c;
        width: 2ch;
        color: white;
        padding: 5px;
    }

</style>