<template>
    <div>
        <div>
            <p>
                Would you like additional information related to your condition within the application (including the
                way your condition may affect your diet, food suggestions and exercise suggestions)?
            </p>
        </div>
        <div>
            <form>
                <ul>
                    <li>
                        <input type="checkbox" id="question1"><label for="question1">High blood pressure</label>
                    </li>
                    <li>
                        <input type="checkbox" id="question2"><label for="question1">High blood pressure</label>
                    </li>
                    <li>
                        <input type="checkbox" id="question3"><label for="question1">High blood pressure</label>
                    </li>
                    <li>
                        <input type="checkbox" id="question4"><label for="question1">High blood pressure</label>
                    </li>
                    <li>
                        <input type="radio" id="question5" name="unique"><label for="question1">High blood
                        pressure</label>
                    </li>
                    <li>
                        <input type="radio" id="question6" name="unique"><label for="question1">High blood
                        pressure</label>
                    </li>
                    <li>
                        <input type="radio" id="question7" name="unique"><label for="question1">High blood
                        pressure</label>
                    </li>
                    <li>
                        <textarea rows="8" cols="40" id="question8" name="reason">hello</textarea>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Question"
    }
</script>

<style scoped>
    ul {
        list-style-type: none;
    }
</style>