<template>
    <div>
        <div>
            <heading></heading>
        </div>
        My Food Tracker
        <div>
            <nav-bar></nav-bar>
        </div>
    </div>
</template>

<script>
    import Heading from "@/components/Widgets/Heading";
    import NavBar from "@/components/Widgets/NavBar";

    export default {
        name: "Food",
        components: {NavBar, Heading}
    }
</script>

<style scoped>

</style>