<template>
    <div>
        <nav-bar></nav-bar>
    </div>
</template>

<script>
    import NavBar from "@/components/Widgets/NavBar";

    export default {
        name: "HomePage",
        components: {NavBar}
    }
</script>

<style scoped>

</style>