<template>
    <div>
        <div>
            <heading></heading>
        </div>
        <div>
            <img src="../../assets/profilePicture.jpg">
        </div>
        <div>
            <my-why></my-why>
            <my-blood-pressure></my-blood-pressure>
        </div>
        <div>
            <nav-bar></nav-bar>
        </div>
    </div>
</template>

<script>
    import MyWhy from "@/components/Widgets/MyWhy";
    import MyBloodPressure from "@/components/Widgets/MyBloodPressure";
    import Heading from "@/components/Widgets/Heading";
    import NavBar from "@/components/Widgets/NavBar";

    export default {
        name: "Profile",
        components: {NavBar, Heading, MyBloodPressure, MyWhy}
    }
</script>

<style scoped>
    img {
        max-height: 120px;
        max-width: 120px;
    }
</style>