<template>
    <div>
        <questionnaire-progress></questionnaire-progress>
        <h1>
            Sign Up Questionnaire
        </h1>
        <question></question>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Next Question</button>
    </div>
</template>

<script>
    import QuestionnaireProgress from "@/components/Widgets/QuestionnaireProgress";
    import Question from "@/components/Widgets/Question";

    export default {
        name: "SignUpQuestionnaire",
        components: {Question, QuestionnaireProgress}
    }
</script>

<style scoped>

</style>