<template>
    <div>
        <p>
            "Hello World"
        </p>
        <router-view></router-view>
    </div>
</template>

<script>
    // eslint-disable-next-line no-unused-vars
    import Profile from "@/components/Pages/Profile";
    //import FoodTracker from "@/components/Pages/FoodTracker";
    //import ExerciseTracker from "@/components/Pages/ExerciseTracker";
    //import DiabetesTracker from "@/components/Pages/DiabetesTracker";
    //import ArthritisTracker from "@/components/Pages/ArthritisTracker";
    //import MenopauseTracker from "@/components/Pages/MenopauseTracker";
    //import InformationAboutHealth from "@/components/Pages/InformationAboutHealth";
    //import RecipeSuggestions from "@/components/Pages/RecipeSuggestions";
    //import WaterTracker from "@/components/Pages/WaterTracker";
    //import Heading from "@/components/Widgets/Heading";
    //import MyBloodPressure from "@/components/Widgets/MyBloodPressure";
    //import MyMeasurementsProgress from "@/components/Widgets/MyMeasurementsProgress";
    //import MyWhy from "@/components/Widgets/MyWhy";
    //import NavBar from "@/components/Widgets/NavBar";
    //import QuestionnaireProgress from "@/components/Widgets/QuestionnaireProgress";
    //import WaterTracker from "@/components/Pages/WaterTracker";
    //import RecipeSuggestions from "@/components/Pages/RecipeSuggestions";
    //import MyWeightProgress from "@/components/Widgets/MyWeightProgress";
    //import Heading from "@/components/Widgets/Heading";
    //import BloodPressureTracker from "@/components/Pages/BloodPressureTracker";
    //import Question from "@/components/Question";
    //import Question from "@/components/Question";
    //import SignUp from "@/components/SignUp";
    //import SignUpQuestionnaire from "@/components/SignUpQuestionnaire";
    //import QuestionnaireProgress from "@/components/QuestionnaireProgress";
    //import Question from "@/components/Question";
    //import Login from "@/components/Login";
    //import SignUp from "@/components/SignUp";
    //import SignUp from "@/components/SignUp";
    //import SignUpQuestionnaire from "@/components/SignUpQuestionnaire";
    //import BloodPressureTracker from "@/components/Pages/BloodPressureTracker";

    export default {
        name: 'app',
        components: {
            //RecipeSuggestions,
            //WaterTracker,
            //QuestionnaireProgress,
            //NavBar,
            //MyWhy
            //MyWeightProgress,
            //MyMeasurementsProgress,
            //Heading,
            //MyBloodPressure,
            //Heading,
            //WaterTracker,
            //RecipeSuggestions,
            //InformationAboutHealth,
            //MenopauseTracker,
            //ArthritisTracker,
            //Question,
            //BloodPressureTracker,
            //DiabetesTracker,
            //Login,
            //Question,
            //QuestionnaireProgress,
            //SignUpQuestionnaire,
            //SignUp,
            //Question,
            //SignUp,
            //SignUpQuestionnaire,
            //SignUp,
            //BloodPressureTracker,
            // eslint-disable-next-line vue/no-unused-components
            Profile
            //FoodTracker
            //ExerciseTracker
        }
    }
</script>

<style>
    @import url("~bootstrap/dist/css/bootstrap.css");

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
